<a href="/outpatientclinics">Outpatient Clinics Index</a> <a href="/providers">Providers Index</a>
<h1> Providers </h1>
<% @providers.each do |provider| %>
<h3>Name: <%= link_to provider.name, "/providers/#{provider.id}" %> <h3>
<p> Age: <%= provider.age %></p>
<p> Doctor?: <%= provider.doctor %></p>
<p> Review_rating: <%= provider.review_rating %></p>
<p><%= link_to "Edit #{provider.name}", "/providers/#{provider.id}/edit" %></p>
<% end %>
