<%= form_with url: "/outpatientclinics/#{@outpatientclinic.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :name %></p>
  <%= form.text_field :name %>
  <p><%= form.label :city %></p>
  <%= form.text_field :city %>
  <p><%= form.label :rank %></p>
  <%= form.text_field :rank %>
  <p><%= form.label :radiology %></p>
  <%= form.text_field :radiology %>
  <p><%= form.label :pediatrics %></p>
  <%= form.text_field :pediatrics %>
  <p><%= form.label :womens_health %></p>
  <%= form.text_field :womens_health %>
  <p><%= form.label :referrals %></p>
  <%= form.text_field :referrals %>
  <p><%= form.label :clinic_services_provided %></p>
  <%= form.text_field :clinic_services_provided %>
  <p><%= form.submit 'Update' %></p>
<% end %>
<!--  -->
