<a href="/outpatientclinics">Outpatient Clinics Index</a> <a href="/providers">Providers Index</a>
<h1><%= @outpatientclinics.name %></h1>
<p> City: <%= @outpatientclinics.city %></p>
<p> Rank: <%= @outpatientclinics.rank %></p>
<p> Radiology Clinic: <%= @outpatientclinics.radiology %></p>
<p> Pediatric Clinic: <%= @outpatientclinics.pediatrics %></p>
<p> Womens Health Clinic: <%= @outpatientclinics.womens_health %></p>
<p> Referrals: <%= @outpatientclinics.referrals %></p>
<p> Total Clinic Services: <%= @outpatientclinics.clinic_services_provided %></p>
<p> Number of Providers: <%= @outpatientclinics.provider_assoc_count %></p>
<p><%= link_to "Providers", "/outpatientclinics/#{@outpatientclinics.id}/providers" %></p>
<p><%= link_to "Update Outpatient Clinics", "/outpatientclinics/#{@outpatientclinics.id}/edit", method: :get %></p>
<p><%= link_to "Delete Outpatient Clinic", "/outpatientclinics/#{@outpatientclinics.id}", method: :delete %></p>
