<h1><%= @outpatientclinics.name %></h1>
<p><b>City:</b> <%= @outpatientclinics.city %></p>
<p><b>Rank:</b> <%= @outpatientclinics.rank %></p>
<p><b>Radiology Clinic:</b> <%= @outpatientclinics.radiology %></p>
<p><b>Pediatric Clinic:</b> <%= @outpatientclinics.pediatrics %></p>
<p><b>Womens Health Clinic:</b> <%= @outpatientclinics.womens_health %></p>
<p><b>Referrals: <%= @outpatientclinics.referrals %></p>
<p><b>Total Clinic Services:</b> <%= @outpatientclinics.clinic_services_provided %></p>
<p><b>Number of Providers:</b> <%= @outpatientclinics.provider_assoc_count %></p>
<p><%= link_to "Providers", "/outpatientclinics/#{@outpatientclinics.id}/providers" %></p>
<p><%= link_to "Update Outpatient Clinics", "/outpatientclinics/#{@outpatientclinics.id}/edit", method: :get %></p>
<p><%= link_to "Delete Outpatient Clinic", "/outpatientclinics/#{@outpatientclinics.id}", method: :delete %></p>
